<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwlWw_wYS13VG6bKiuqbEvk6Si3pglo3A</string>
	<key>GCM_SENDER_ID</key>
	<string>100324421948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentMe</string>
	<key>PROJECT_ID</key>
	<string>rent-me-65e2a</string>
	<key>STORAGE_BUCKET</key>
	<string>rent-me-65e2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100324421948:ios:76cb97c4d2c6102975ae39</string>
</dict>
</plist>